<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="inscriptionForm">
    <ion-item>
        <ion-label>Nom:</ion-label>
        <ion-input formControlName="nom" type="text" placeholder="votre nom..."></ion-input>
    </ion-item>

        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.nom">
            <div class="error-message" *ngIf="inscriptionForm.get('nom').hasError(error.type) && (inscriptionForm.get('nom').dirty || inscriptionForm.get('nom').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
          <!---------------------------------------------------------------------------------------------------------------->

    <ion-item>
        <ion-label>Prénom:</ion-label>
        <ion-input formControlName="prenom" type="text" placeholder="votre prénom..."></ion-input>
    </ion-item>

        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.prenom">
            <div class="error-message" *ngIf="inscriptionForm.get('prenom').hasError(error.type) && (inscriptionForm.get('prenom').dirty || inscriptionForm.get('prenom').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
          <!---------------------------------------------------------------------------------------------------------------->
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email" type="text" placeholder="votre mail..."></ion-input>
    </ion-item>

        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.email">
            <div class="error-message" *ngIf="inscriptionForm.get('email').hasError(error.type) && (inscriptionForm.get('email').dirty || inscriptionForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
          <!---------------------------------------------------------------------------------------------------------------->
    <ion-item>
        <ion-label>Confirmation email:</ion-label>
        <ion-input formControlName="emailConf" type="text" placeholder="Vérfication de votre mail..."></ion-input>
    </ion-item>
    <!--
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.emailConf">
            <div class="error-message" *ngIf="inscriptionForm.get('emailConf') != inscriptionForm.get('email') || inscriptionForm.get('emailConf').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
          -->
          <!---------------------------------------------------------------------------------------------------------------->

    <ion-item>
      <ion-label>Mot de passe:</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Mot de passe..."></ion-input>
    </ion-item>

        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.password">
            <div class="error-message" *ngIf="inscriptionForm.get('password').hasError(error.type) && (inscriptionForm.get('password').dirty || inscriptionForm.get('password').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <!---------------------------------------------------------------------------------------------------------------->
    <ion-item>
        <ion-label>Confirmation de mot de passe:</ion-label>
        <ion-input formControlName="passwordConf" type="password" placeholder="Vérfication de mot de passe..."></ion-input>
    </ion-item>
          <!--
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.passwordConf">
                  <div class="error-message" *ngIf="inscriptionForm.get('passwordConf')!= inscriptionForm.get('passwordConf') || inscriptionForm.get('passwordConf').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
          -->
  <ion-item>
      <ion-label position="stacked">Adresse</ion-label>
      <ion-input placeholder="Adresse ligne 1"></ion-input>
      <ion-input placeholder="Adresse ligne 2"></ion-input>
      <ion-input placeholder="Ville"></ion-input>
      <ion-input placeholder="Région"></ion-input>
      <ion-input type="number" placeholder="Code postale"></ion-input>
  </ion-item>

          <ion-button (click)="inscription()" [disabled]="!inscriptionForm.valid" shape="round" size="defaut" color="primary" expand="block"> Créer un compte</ion-button>
          <ion-button  shape="round" size="defaut" color="danger" expand="block"> Annuler</ion-button>
  </form>
</ion-content>
