<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!connected">
    <!-- À afficher si l'utilisateur n'est pas connecté -->

    <ion-item>
    <ion-label><b>Email:</b></ion-label>
    <ion-input type="email" [(ngModel)]="dataUser.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Mot de passe:</b></ion-label>
    <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
  </ion-item>
    <br>
    <ion-button color="primary" (click)="login()" shape="round" size= "defaut">Patient</ion-button>
    <ion-button color="primary" (click)="login1()" shape="round" size= "medium">Doctor</ion-button>

    <br>
    <ion-button expand="block" color="tertiary" (click)="signUp()" >Inscription</ion-button>


  </div>

  <div *ngIf="test === 'patient'">
    <!-- Si l'utilisateur est connecté -->
    <H1>Vous etes bien connecté en tant que patient</H1>
    <ion-button href="patient" expand="block" color="secondary">Mon espace</ion-button>
    <ion-button expand="block" color="danger" (click)="logout()">Déconnexion</ion-button>
  </div>

  <div *ngIf="test === 'doctor'">
    <!-- Si l'utilisateur est connecté -->
    <H1>Vous etes bien connecté en tant que doctor</H1>
    <ion-button href="doctor" expand="block" color="secondary">Mon espace</ion-button>
    <ion-button expand="block" color="danger" (click)="logout()">Déconnexion</ion-button>
  </div>

  <div *ngIf="test === 'inscription'">
    <!-- Si l'utilisateur est connecté -->
    <H1>Vous etes bien inscrit sur doctolib!</H1>
    <ion-label><ion-button (click)="logout()" href="home" color="danger"> Se déconnecter </ion-button></ion-label>

  </div>


</ion-content>
