<ion-header>
  <ion-toolbar>
    <ion-title>DOCTOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-menu side="start">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-button href="login2"color="light"> Acceuil </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label> <ion-button href="home"color="light"> Profil </ion-button></ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label><ion-button href="home"color="light">Notifications </ion-button></ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-label><ion-button href="calendar"color="light"> Mes disponibilités </ion-button></ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="log-out"></ion-icon>
            <ion-label><ion-button (click)="logout()" href="home" color="danger"> Se déconnecter </ion-button></ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" main>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Bienvenue </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      </ion-content>
    </div>
  </ion-app>
</ion-content>
