<ion-header>
  <ion-toolbar>
    <ion-title>
      DOCTOLIB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-img src="https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2018.2F02.2F21.2F95ecb1b9-439b-4c22-a8f9-b37ebd0ce4b2.2Ejpeg/750x375/background-color/ffffff/quality/70/rendez-vous-chez-le-medecin-les-delais-fondent-avec-doctolib-et-mondocteur-1273518.jpg"></ion-img>
        <ion-button color="primary" expand="block" href="login" shape="round" size="defaut"> Vous êtes un patient</ion-button>
        <ion-button color="secondary" expand="block" href="login" shape="round" size="defaut"> Vous êtes un docteur</ion-button>
</ion-content>
